$textColor: #8f9bb2;
$shadowDarkColor: #88a5bf8a;

// button
$btnBackgroundColor: #e3edf7;
$btnShadowLightColor: #ffffff;

//main background
$gradientStartColor: #c3d1e4;
$gradientMedColor: #dde7f3;
$gradientEndColor: #d4e0ed;

//form background
$formGradientStartColor: #ebf3fa;
$formGradientEndColor: #e6f0f9;

//input colors
$inputGradientStart: #ffffff4d;
$inputGradientEnd: #e9f0f74d;
$inputBackground: #e9f0f7;
$inputShadowDark: #8a9bbd66;
$inputShadowLight: #ffffffb3;
$inputFocusBorderColor: #5f83ad;

//form input validation
$error: red;
$success: green;
